body, html {
	margin: 0;
	font-family: Quicksand, Arial, helvetica, sans-serif;
}

nav {
	border-bottom: 1px #F79489;
}

.f-poppins {
	font-family: Poppins;
}

.f-quicksand {
	font-family: Quicksand;
}

.text-bold {
	font-weight: bold;
}

.text-light {
	font-weight: normal;
}

.btn-pink {
	border-radius: 25px 0px 25px 0px;
	background-color: #F79489;
}

.navbar-brand, .nav-item a {
	font-family: Poppins;
}

.banner .text-banner {
	height: 48vh;
	padding-top: 20vh;
}

@media (max-width: 768px) {
	.banner .img img {
		display: none;
	}

	.card-flex {
		display: flex;
		flex-direction: column;
	}
}