body, html {
	margin: 0;
	font-family: Quicksand, Arial, helvetica, sans-serif;
}

nav {
	border-bottom: 1px solid #F79489;
}

.f-poppins {
	font-family: Poppins;
}

.f-quicksand {
	font-family: Quicksand;
}

.text-bold {
	font-weight: bold;
}

.text-light {
	font-weight: normal;
}

.bg-pink-secondary {
	background-color: #FADCD9;
}

.btn-pink {
	border-radius: 25px 0px 25px 0px;
	width: 12rem;
	background-color: #F79489;
}

.navbar-brand, .nav-item a {
	font-family: Poppins;
}

.banner .text-banner {
	height: 48vh;
}

.card-flex .card {
	border: none;
 	border-radius: 10px;
	box-shadow: 1px 1px 20px 0px #dfdfdf;
}

.card-flex .card h5 {
	font-weight: lighter;
	font-size: .9rem;
}

/* btn-banner */

/* end-btn-banner */
.card-best-dress {
	width: 75%;
	margin: auto;
	margin-top: -5rem;
	background-color: #F9F1F0;
}
/* top-product */

.card-best-dress-container {
	box-shadow: 5px 5px 50px 0px #dfdfdf;
}

.top-product h1 {
	font-size: 2rem;
	font-variant: medium;
}


/* end-top-product */

@media (max-width: 768px) {
	.banner .img img {
		display: none;
	}

	.card-flex {
		display: flex;
		flex-direction: column;
	}

	.card-best-dress {
		width: 90%;
	}
}